{erl_opts, [
            warnings_as_errors
            ,warn_export_all
           ]
}.
{cover_enabled, true}.
{deps, [
        {jiffy, ".*",
         {git,"git://github.com/davisp/jiffy.git",
          "f71616198f008c13a1f8571bb2f7d726ba84764d"}},
        {lhttpc, "1.3.0",
         {git, "git://github.com/oscarh/lhttpc.git",
          "5a906f6e2d6b60ae63787ce0cf532440236c0083"}}
       ]
}.
